Repository LOTTE-5IVE/kka-kka, pull requests merged in 2022-11, with the labels that each got.

#153 refactor: 더보기 방식 페이징에 마지막인지 표시하는 기능 추가
  backend/main-service/src/docs/asciidoc/auth_member.adoc
  backend/main-service/src/main/java/kkakka/mainservice/common/dto/NoOffsetPageInfo.java
  backend/main-service/src/main/java/kkakka/mainservice/common/dto/PageableNoOffsetResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepositorySupport.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
Labels: 🛠 리팩토링, 🍃 BE

#160 feat: 장바구니 쿠폰 적용 및 장바구니 쿠폰 엔티티 연동에 따른 조회 로직 변경
  backend/apigateway-service/Dockerfile
  backend/config-service/Dockerfile
  backend/discovery-service/Dockerfile
  backend/main-service/Dockerfile
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/CartItem.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/CartController.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/dto/CartItemDto.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/dto/CouponDto.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/Coupon.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/CouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/Product.java
  backend/main-service/src/main/resources/bootstrap.yml
  backend/main-service/src/test/java/kkakka/mainservice/cart/ui/CartAcceptanceTest.java
  frontend/.dockerignore
  frontend/Dockerfile
Labels: 🚀 기능, 🍃 BE, main-service

#164 refactor: 주문에 수령인 정보 추가
  backend/main-service/src/main/java/kkakka/mainservice/DataLoader.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/OrderResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/MemberOrderDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/OrderDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/RecipientDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/Order.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/Recipient.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/dto/OrderRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/dto/RecipientRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/dto/RecipientResponse.java
  backend/main-service/src/main/resources/db/migration/V2210271119__add_order_recipient.sql
  backend/main-service/src/main/resources/static/product-data-v2.csv
  backend/main-service/src/main/resources/static/product-data.csv
  backend/main-service/src/test/java/kkakka/mainservice/AcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestDataLoader.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/feign/TestServiceInstanceListSupplier.java
  backend/main-service/src/test/java/kkakka/mainservice/member/AuthorityAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/member/acceptance/LoginAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/application/OrderServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/review/domain/ReviewRepositoryTest.java
Labels: 🛠 리팩토링, 🍃 BE, main-service

#189 chore: elasticsearch 환경 설정
  backend/main-service/build.gradle
  backend/main-service/src/main/java/kkakka/mainservice/common/config/ElasticSearchConfig.java
Labels: 🍃 BE, ⚙️ 설정

#190 feat: 회원의 총 쿠폰 수를 보여주는 api 추가, 테스트, api 문서 추가
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
Labels: 🚀 기능, 🍃 BE

#183 feat: 회원/비회원 상품에 대한 쿠폰 조회 API 추가
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/main/java/kkakka/mainservice/MainServiceApplication.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/CouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/dto/CouponProductResponseDto.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/main/resources/bootstrap.yml
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
Labels: 🚀 기능, 🍃 BE

#178 refactor: 회원의 총 주문 수를 보여주는 API 구현
  backend/main-service/src/docs/asciidoc/auth_member.adoc
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/IllegalQuantityException.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/ProductOrder.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestDataLoader.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/application/OrderServiceTest.java
Labels: 🛠 리팩토링, 🚀 기능, 🍃 BE, main-service

#179 refactor: 중복 데이터 저장 방지
  backend/main-service/src/main/java/kkakka/mainservice/DataLoader.java
Labels: 🛠 리팩토링, 🍃 BE, main-service

#192 refactor: 응답에 사용하는 객체들 카멜 케이스로 통일
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/dto/CartItemDto.java
  backend/main-service/src/main/java/kkakka/mainservice/category/ui/dto/ResponseCategoryProducts.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/dto/NutritionResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/dto/ProductDetailResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/dto/ProductResponse.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/ui/CartAcceptanceTest.java
Labels: 🛠 리팩토링, 🍃 BE

#198 feat: 추천 API 메인페이지에 적용
  frontend/components/main/RecommCard.js
  frontend/components/main/RecommInfo.js
  frontend/components/main/RecommRec.js
  frontend/components/main/RecommSlider.js
  frontend/pages/index.js
Labels: 🚀 기능, 🌠 FE

#203 feat: 장바구니 아이템 총 수 조회 구현
  backend/main-service/src/docs/asciidoc/auth_member.adoc
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartItemRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/ui/CartAcceptanceTest.java
Labels: 🚀 기능, 🍃 BE, main-service

#156 feat: 할인만료시간 체크, 자동등업 기능 구현
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/main/java/kkakka/mainservice/MainServiceApplication.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/Coupon.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/CouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/dto/CouponProductResponseDto.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/util/PromotionScheduler.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/domain/Member.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
  backend/main-service/src/main/resources/db/migration/V2211081147__add_order_recipient_email.sql
  backend/main-service/src/test/java/kkakka/mainservice/cart/ui/CartAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/DiscountAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/SchedulerTest.java
Labels: 🚀 기능, 🍃 BE, main-service

#210 feat: 관리자 페이지 스타일 수정
  frontend/components/admin/AdminSidebar.js
  frontend/components/admin/ApplyProduct.js
  frontend/components/admin/CouponEnrollTable.js
  frontend/components/admin/CouponSearchTable.js
  frontend/components/admin/DiscountEnrollTable.js
  frontend/components/admin/ProductEnroll.js
  frontend/components/admin/ProductSearch.js
  frontend/components/admin/PromotionEnroll.js
  frontend/components/admin/PromotionSearch.js
  frontend/components/common/Button/Button.js
  frontend/pages/admin/index.js
Labels: 🛠 리팩토링, 🌠 FE, frontCI

#205 feat: 검색 및 필터, 정렬 기능 구현
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/ProductDocumentService.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/SearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/CategoryDocumentDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/ProductDocumentDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/SearchParamDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/SearchResultDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/ProductDocument.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductDocumentQueryBuilder.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductSearchRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ElasticSearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/Indices.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ProductsSearchResult.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/ProductDocumentController.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/CategoryResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/SearchParamRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/SearchResultResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/acceptance/ProductDocumentAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/application/ProductDocumentServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestSearchHelper.java
  frontend/apis/SearchApi.js
  frontend/components/common/HeaderComp.js
  frontend/components/product/NoSearch.js
  frontend/components/product/SearchFilter.js
  frontend/pages/product/index.js
  frontend/pages/product/productDetail/index.js
Labels: 🚀 기능, 🌠 FE

#217 feat: 사용한 쿠폰 조회 api 구현
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
Labels: 📋 문서, 🚀 기능, 🍃 BE, main-service

#216 feat: DB-Replication 적용
  backend/main-service/src/main/java/kkakka/mainservice/common/replication/DataSourceType.java
  backend/main-service/src/main/java/kkakka/mainservice/common/replication/ReplicationDataBaseConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/common/replication/ReplicationRoutingDataSource.java
Labels: 👷 인프라, 🍃 BE, main-service

#180 feat: 상품 추천 기능 구현, 주문 메시지 카프카로 전송, 상품 조회 API 수정
  backend/main-service/build.gradle
  backend/main-service/src/docs/asciidoc/product.adoc
  backend/main-service/src/main/java/kkakka/mainservice/common/config/RestTemplateConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/InvalidRecommendResponseException.java
  backend/main-service/src/main/java/kkakka/mainservice/kafka/KafkaProducerConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/kafka/order/MemberMessage.java
  backend/main-service/src/main/java/kkakka/mainservice/kafka/order/OrderMessage.java
  backend/main-service/src/main/java/kkakka/mainservice/kafka/order/ProductMessage.java
  backend/main-service/src/main/java/kkakka/mainservice/kafka/order/ProductOrderMessage.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderMessageProducer.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/AnonymousRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/MemberRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/ProductRecommender.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommendStrategyFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommenderFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/dto/RecommendProductDto.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/ProductController.java
  backend/main-service/src/main/java/kkakka/mainservice/review/domain/repository/ReviewRepository.java
  backend/main-service/src/main/resources/static/docs/auth_member.html
  backend/main-service/src/main/resources/static/docs/cart_order_review.html
  backend/main-service/src/main/resources/static/docs/coupon.html
  backend/main-service/src/main/resources/static/docs/index.html
  backend/main-service/src/main/resources/static/docs/product.html
  backend/main-service/src/test/java/kkakka/mainservice/AcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestRecommendStrategyFactory.java
  backend/main-service/src/test/java/kkakka/mainservice/kafka/OrderMessageTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/application/OrderServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/product/acceptance/ProductAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/product/acceptance/RecommendAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/product/application/ProductServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/product/domain/ProductRepositoryTest.java
  frontend/components/main/RecommCard.js
  frontend/components/main/RecommInfo.js
  frontend/components/main/RecommRec.js
  frontend/components/main/RecommSlider.js
  frontend/pages/index.js
Labels: 🚀 기능, 🍃 BE, main-service

#221 fix: Optional import 안된 것 수정
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#222 fix: DataLoader.categories 를 읽지 못하는 문제
  backend/main-service/src/main/java/kkakka/mainservice/DataLoader.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#219 feat: 장바구니 쿠폰 검증 및 취소 기능 구현
  .gitignore
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/CartItem.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/CartController.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/dto/CartItemDto.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/MemberCoupon.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/Product.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/ui/CartAcceptanceTest.java
Labels: 🚀 기능, 🍃 BE, main-service

#193 feat: 주문 시 장바구니 비우기 기능 구현
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartItemRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/acceptance/CartAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/application/CartServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/ui/OrderControllerMockTest.java
Labels: 🚀 기능, 🍃 BE, main-service

#206 refactor: 상품 후기에 갯수와 평균 별점(평점) 표시, 별 모양 수정
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/review/application/ReviewService.java
  backend/main-service/src/main/java/kkakka/mainservice/review/domain/repository/ReviewRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/review/ui/ReviewController.java
  backend/main-service/src/test/java/kkakka/mainservice/review/acceptance/ReviewAcceptanceTest.java
  frontend/components/main/RecommInfo.js
  frontend/components/main/RecommSlider.js
  frontend/components/mypage/review/RangeWithIcons.js
  frontend/components/mypage/review/StartIcon.js
  frontend/pages/product/productDetail/index.js
Labels: 🛠 리팩토링, 🚀 기능, 🍃 BE, 🌠 FE, main-service, frontCI

#224 fix: 상품 조회 페이지가 제대로 조회되지 않는 문제 해결
  backend/main-service/src/docs/asciidoc/product.adoc
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestDataLoader.java
  backend/main-service/src/test/java/kkakka/mainservice/product/acceptance/ProductAcceptanceTest.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#231 feat: 상품 쿠폰 목록에서 다운로드 api 구현
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/dto/CouponProductDto.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/SchedulerTest.java
Labels: 📋 문서, 🚀 기능, 🍃 BE

#233 feat: 검색 자동완성 기능 구현
  backend/main-service/src/docs/asciidoc/product.adoc
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/ProductDocumentService.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/SearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/SearchParamDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductDocumentQueryBuilder.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ElasticSearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/ProductDocumentController.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/SearchParamRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/acceptance/ProductDocumentAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/application/ProductDocumentServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestSearchHelper.java
  frontend/apis/AutoComplete.js
  frontend/components/common/HeaderComp.js
  frontend/components/common/SearchBar.js
  frontend/pages/product/index.js
Labels: 🚀 기능, 🍃 BE

#226 feat: 추천 기능에 Redis 적용
  backend/main-service/build.gradle
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommendProductIds.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommendStrategyFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommenderFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/dto/RecommendProductDto.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/AnonymousRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/MemberRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/ProductRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/ProductRecommender.java
  backend/main-service/src/main/java/kkakka/mainservice/product/infrastructure/redis/EmbeddedRedisConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/product/infrastructure/redis/RecommendRedisRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/infrastructure/redis/RedisConfig.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestRecommendStrategyFactory.java
  backend/main-service/src/test/java/kkakka/mainservice/product/redis/RedisRepositoryTest.java
Labels: 🚀 기능, 🍃 BE, main-service

#232 fix: 장바구니 비우기 기능 수정
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/Cart.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartItemRepository.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/application/CartServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/domain/CartRepositoryTest.java
Labels: 🐞 버그, 🍃 BE, main-service

#238 refactor: 주문 조회의 N+1 문제 해결, NOT IN 쿼리 문제 해결
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/Order.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/ProductOrder.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/MemberRecommendStrategy.java
Labels: 🛠 리팩토링, 🍃 BE, main-service

#244 feat: 바로결제 페이지 쿠폰 적용 api 구현
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/NotFoundCouponException.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/ProductOrderWithCouponDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/ProductOrder.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/main/resources/db/migration/V2211141038__add_coupon_to_product_order.sql
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
Labels: 📋 문서, 🚀 기능, 🍃 BE, main-service

#249 fix: 배포 환경에서 레디스 오류 해결
  backend/main-service/src/main/java/kkakka/mainservice/product/infrastructure/redis/RedisConfig.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#251 fix: map -> key 값 추가
  frontend/components/product/productDetail/RecommendList.js
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#246 feat: elasticsearch 적용 통합 검색, 필터, 정렬, 자동완성 구현
  backend/main-service/build.gradle
  backend/main-service/src/docs/asciidoc/product.adoc
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartItemRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/common/config/ElasticSearchConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/ProductDocumentService.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/SearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/CategoryDocumentDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/ProductDocumentDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/SearchParamDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/SearchResultDto.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/ProductDocument.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductDocumentQueryBuilder.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductSearchRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ElasticSearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/Indices.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ProductsSearchResult.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/CategoryResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/SearchParamRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/SearchResultResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/SearchWords.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/ProductController.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/acceptance/ProductDocumentAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/elasticsearch/application/ProductDocumentServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestSearchHelper.java
  backend/main-service/src/test/java/kkakka/mainservice/product/application/ProductServiceTest.java
  frontend/apis/AutoComplete.js
  frontend/apis/SearchApi.js
  frontend/components/common/HeaderComp.js
  frontend/components/common/SearchBar.js
  frontend/components/product/SearchFilter.js
  frontend/pages/product/index.js
Labels: 🚀 기능, 🍃 BE, main-service, frontCI

#252 fix: import 에러 해결
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#254 fix: 테스트 에러 해결
  backend/main-service/src/main/java/kkakka/mainservice/common/config/ElasticSearchConfig.java
Labels: 🍃 BE, 🚨 핫픽스, main-service

#259 fix: 검색 클래스 및 테스트 오류
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/ui/dto/ProductDocumentController.java
  backend/main-service/src/test/java/kkakka/mainservice/product/acceptance/ProductAcceptanceTest.java
Labels: 🚀 기능, 🍃 BE, ❗️ 이슈, main-service

#257 feat: 관리자 페이지 유효성 검사 & 페이징, 상품상세페이지 SSR 경로 수정, 주문/결제 페이지 쿠폰 적용/취소
  .gitignore
  backend/main-service/build.gradle
  frontend/README.md
  frontend/components/admin/AdminSidebar.js
  frontend/components/admin/ApplyCategory.js
  frontend/components/admin/ApplyGrade.js
  frontend/components/admin/ApplyProduct.js
  frontend/components/admin/CouponEnrollTable.js
  frontend/components/admin/DiscountEnrollTable.js
  frontend/components/admin/ProductEnroll.js
  frontend/components/admin/ProductSearch.js
  frontend/components/admin/PromotionEnroll.js
  frontend/components/admin/PromotionSearch.js
  frontend/components/admin/ValidDate.js
  frontend/components/admin/ValidDuration.js
  frontend/components/common/Button/Button.js
  frontend/components/common/HeaderComp.js
  frontend/components/common/SearchBar.js
  frontend/components/coupon/CouponApply.js
  frontend/components/coupon/CouponDown.js
  frontend/components/main/Introduction.js
  frontend/components/main/RecommRec.js
  frontend/components/main/RecommSlider.js
  frontend/components/main/Visual.js
  frontend/components/member/SNSButton.js
  frontend/components/mypage/MyCoupon.js
  frontend/components/mypage/MyOrder.js
  frontend/components/mypage/MyOrderTemp.js
  frontend/components/mypage/MyProductOrder.js
  frontend/components/product/NoSearch.js
  frontend/components/product/Pagination.js
  frontend/components/product/ProductEc.js
  frontend/components/product/SearchFilter.js
  frontend/components/product/productDetail/Info.js
  frontend/components/productDetail copy.js
  frontend/next.config.js
  frontend/pages/404.js
  frontend/pages/admin/index.js
  frontend/pages/member/cart.js
  frontend/pages/oauth.js
  frontend/pages/payment/index.js
  frontend/pages/product/index.js
  frontend/pages/product/productDetail/index.js
Labels: 🛠 리팩토링, 🚀 기능, 🌠 FE, frontCI

#262 feat: 쿠폰 적용한 상태로 주문/결제
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/CouponResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/ProductOrderResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/ReviewSimpleResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/MemberProductOrderDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/ProductOrderDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/ProductOrder.java
  backend/main-service/src/main/java/kkakka/mainservice/review/application/ReviewService.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/kafka/OrderMessageTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/ui/OrderControllerMockTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/application/OrderServiceTest.java
Labels: 📋 문서, 🚀 기능, 🍃 BE

#263 feat: 바로결제 페이지 쿠폰 적용 취소 api 구현
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/CouponServiceTest.java
Labels: 📋 문서, 🚀 기능, 🍃 BE

#258 feat: 관리자 로그인 구현 + 장바구니 비우기 오류 해결 복구
  backend/main-service/src/docs/asciidoc/admin.adoc
  backend/main-service/src/docs/asciidoc/coupon.adoc
  backend/main-service/src/docs/asciidoc/index.adoc
  backend/main-service/src/main/java/kkakka/mainservice/admin/application/AdminService.java
  backend/main-service/src/main/java/kkakka/mainservice/admin/ui/AdminController.java
  backend/main-service/src/main/java/kkakka/mainservice/admin/ui/dto/AdminUserRequest.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartItemRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/ui/CartController.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/AuthenticationPrincipal.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/Authority.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/LoginInterceptor.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/LoginMember.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/aop/AdminOnly.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/aop/LoginAop.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/aop/MemberOnly.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/util/AuthenticationPrincipalArgumentResolver.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/util/AuthorizationExtractor.java
  backend/main-service/src/main/java/kkakka/mainservice/common/auth/util/JwtTokenProvider.java
  backend/main-service/src/main/java/kkakka/mainservice/common/config/WebMvcConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/AuthorizationException.java
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/GlobalExceptionHandler.java
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/LoginFailException.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/member/auth/application/MemberAuthService.java
  backend/main-service/src/main/java/kkakka/mainservice/member/auth/util/LoginAop.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/MemberController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommendStrategyFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/RecommenderFactory.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/ProductController.java
  backend/main-service/src/main/java/kkakka/mainservice/review/ui/ReviewController.java
  backend/main-service/src/test/java/kkakka/mainservice/AcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/admin/acceptance/AdminAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/acceptance/CartAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/application/CartServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/DiscountAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestAdminLogin.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestAdminUser.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestMember.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestRecommendStrategyFactory.java
  backend/main-service/src/test/java/kkakka/mainservice/member/AuthorityAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/ui/OrderControllerMockTest.java
  frontend/components/admin/CouponEnrollTable.js
  frontend/components/admin/DiscountEnrollTable.js
  frontend/components/admin/DiscountSearchTable.js
  frontend/components/admin/ProductSearch.js
  frontend/components/admin/PromotionEnroll.js
  frontend/components/admin/PromotionSearch.js
  frontend/context/AdminTokenContext.js
  frontend/pages/_app.js
  frontend/pages/admin/index.js
  frontend/pages/admin/login.js
Labels: 🚀 기능, 🍃 BE, ❗️ 이슈, main-service, frontCI

#265 refactor: es security config 수정 및 index파일 수정
  backend/main-service/src/main/java/kkakka/mainservice/common/config/ElasticSearchConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/ProductDocument.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/ElasticSearchHelper.java
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/helper/Indices.java
Labels: 🛠 리팩토링, 🍃 BE, main-service

#267 fix: useEffect import 오류 해결
  frontend/components/admin/DiscountEnrollTable.js
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#271 fix: url 변수명 수정
  backend/main-service/src/main/java/kkakka/mainservice/common/config/ElasticSearchConfig.java
Labels: 🐞 버그, 🍃 BE, main-service

#274 feat: 주문/결제 쿠폰 적용 API 추가, 마이페이지 유효성 수정, 관리자 혜택 등록 후 변수 초기화, input, table 스타일 수정
  frontend/apis/Apis.js
  frontend/components/admin/ApplyGrade.js
  frontend/components/admin/CouponEnrollTable.js
  frontend/components/admin/CouponSearchTable.js
  frontend/components/admin/DiscountEnrollTable.js
  frontend/components/admin/DiscountSearchTable.js
  frontend/components/admin/ProductSearch.js
  frontend/components/admin/ValidDate.js
  frontend/components/admin/ValidDuration.js
  frontend/components/coupon/CouponApply.js
  frontend/components/mypage/MyInfoEdit.js
  frontend/components/product/SearchFilter.js
  frontend/components/productDetail copy.js
  frontend/hooks/isEmail.js
  frontend/hooks/isEngNum.js
  frontend/pages/member/cart.js
  frontend/pages/payment/index.js
  frontend/pages/product/productDetail/index.js
Labels: 🛠 리팩토링, 🚀 기능, 🌠 FE, frontCI

#270 feat: 바로결제,장바구니 쿠폰 적용 최소주문금액 확인 + 등급쿠폰 조회안되는 문제 해결
  backend/main-service/src/docs/asciidoc/cart_order_review.adoc
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/OutOfMinOrderPriceException.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/MemberCoupon.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/acceptance/CartAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/OrderAcceptanceTest.java
Labels: 🐞 버그, 🚀 기능, 🍃 BE, main-service

#266 fix: 페이지 사이즈 수정
  backend/main-service/src/main/java/kkakka/mainservice/common/config/PageConfig.java
  backend/main-service/src/main/java/kkakka/mainservice/product/ui/ProductController.java
Labels: 🍃 BE, ❗️ 이슈, main-service

#281 feat: 쿠폰 최대할인가 계산 및 dto 수정
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/CartItem.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/ProductOrderWithCouponDto.java
Labels: 🚀 기능, 🍃 BE, main-service

#282 refactor: 주문한 상품만 장바구니에서 삭제되도록 수정
  backend/main-service/src/main/java/kkakka/mainservice/cart/application/CartService.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/Cart.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/CartItem.java
  backend/main-service/src/main/java/kkakka/mainservice/cart/domain/repository/CartRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/repository/OrderRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/order/ui/OrderController.java
  backend/main-service/src/test/java/kkakka/mainservice/cart/application/CartServiceTest.java
  backend/main-service/src/test/java/kkakka/mainservice/order/acceptance/ui/OrderControllerMockTest.java
Labels: 🛠 리팩토링, 🍃 BE

#272 fix: stock dto 복구
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/application/dto/ProductDocumentDto.java
Labels: 🍃 BE, ❗️ 이슈

#284 feat. 상품데이터 추가를 위한 설정
  backend/main-service/src/main/java/kkakka/mainservice/product/application/ProductService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/dto/NutritionDto.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/dto/ProductDetailDto.java
  backend/main-service/src/main/java/kkakka/mainservice/product/domain/repository/ProductRepositorySupport.java
Labels: 🍃 BE, main-service

#286 refactor: 검색 범위 필터 수정, 상품 조회 테스트 수정
  backend/main-service/src/main/java/kkakka/mainservice/elasticsearch/domain/repository/ProductDocumentQueryBuilder.java
  backend/main-service/src/test/java/kkakka/mainservice/product/application/ProductServiceTest.java
Labels: 🐞 버그, 🍃 BE, main-service

#277 refactor: 마이페이지의 주문 내역 조회 API 및 화면 수정
  backend/main-service/src/main/java/kkakka/mainservice/DataLoader.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/CouponResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/ProductOrderResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/member/member/ui/dto/ProductResponse.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/dto/MemberProductOrderDto.java
  backend/main-service/src/main/java/kkakka/mainservice/order/domain/ProductOrder.java
  backend/main-service/src/main/resources/db/migration/V2211111650__add_membercoupon_isapply.sql
  backend/main-service/src/main/resources/db/migration/V2211161411__add_product_order_discount.sql
  backend/main-service/src/test/java/kkakka/mainservice/coupon/application/SchedulerTest.java
  backend/main-service/src/test/java/kkakka/mainservice/fixture/TestDataLoader.java
  backend/main-service/src/test/java/kkakka/mainservice/review/domain/ReviewRepositoryTest.java
  backend/main-service/src/test/java/kkakka/mainservice/review/domain/ReviewTest.java
  frontend/components/mypage/MyOrder.js
  frontend/components/mypage/MyOrderDetail.js
  frontend/components/mypage/MyProductOrder.js
  frontend/pages/mypage/index.js
Labels: 🛠 리팩토링, 🍃 BE, 🌠 FE, main-service, frontCI

#289 feat: 토큰 만료시간 삭제, 상품상세 쿠폰 에러처리, swiper 수정, 장바구니 결제예정금액 수정
  frontend/components/admin/CouponSearchTable.js
  frontend/components/coupon/CouponDown.js
  frontend/components/main/RecommSlider.js
  frontend/components/product/NoSearch.js
  frontend/hooks/getToken.js
  frontend/hooks/isValid.js
  frontend/pages/member/cart.js
  frontend/pages/oauth.js
  frontend/pages/product/index.js
Labels: 🐞 버그, 🛠 리팩토링, 🚀 기능, 🌠 FE, frontCI

#292 fix: 상품 목록 client 에러처리
  frontend/components/common/NavBar.js
  frontend/pages/product/index.js
Labels: 🐞 버그, 🌠 FE, frontCI

#290 feat: 주문시 쿠폰 사용 기능 추가 및 쿠폰 사용 api 삭제
  backend/main-service/src/main/java/kkakka/mainservice/coupon/ui/CouponController.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
Labels: 🛠 리팩토링, 🚀 기능, 🍃 BE

#287 fix: 주문내역 조회 오류 해결, 상품 후기 작성시 출력 변경
  backend/main-service/src/main/java/kkakka/mainservice/common/exception/NotFoundReviewException.java
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/review/application/ReviewService.java
  backend/main-service/src/main/java/kkakka/mainservice/review/application/dto/ReviewDto.java
  backend/main-service/src/main/java/kkakka/mainservice/review/domain/repository/ReviewRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/review/ui/ReviewController.java
  backend/main-service/src/main/java/kkakka/mainservice/review/ui/dto/ReviewSimpleResponse.java
  frontend/components/mypage/MyOrderDetail.js
  frontend/components/mypage/MyProductOrder.js
  frontend/components/mypage/review/Review.js
  frontend/components/mypage/review/Reviewed.js
Labels: 🛠 리팩토링, 🍃 BE, 🌠 FE, 🚨 핫픽스, main-service, frontCI

#294 fix: 상품 페이지 카테고리 쿠폰도 조회되도록 수정
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
Labels: 🐞 버그, 🚀 기능, 🍃 BE

#293 refactor: 테스트 데이터 삭제, 카테고리 오류 수정
  backend/main-service/src/main/java/kkakka/mainservice/DataLoader.java
Labels: 🛠 리팩토링, 🍃 BE, main-service

#297 feat: 장바구니 상품 종류 제한, 검색필터 변경시 사라지지 않는 문제 해결
  frontend/components/product/SearchFilter.js
  frontend/pages/product/productDetail/index.js
Labels: 🐞 버그, 🚀 기능, 🌠 FE, frontCI

#298 fix: 콘솔 에러 제거, 불필요 의존성 삭제
  frontend/components/common/SearchBar.js
  frontend/components/main/Introduction.js
  frontend/components/product/productDetail/Review.js
  frontend/pages/product/productDetail/index.js
Labels: 🐞 버그, 🌠 FE, frontCI

#299 fix: 검색 후 전체 상품 선택시 상품이 바뀌지 않는 문제 해결
  frontend/components/common/SearchBar.js
Labels: 🐞 버그, 🌠 FE, frontCI

#300 fix: 검색 후 전체 상품 선택 시 상품이 바뀌지 않는 문제 해결2
  frontend/components/common/SearchBar.js
Labels: 🐞 버그, 🌠 FE, frontCI

#301 fix: 상품상세 화면깨짐 해결, 검색필터 상품 안나옴 오류해결
  frontend/components/product/SearchFilter.js
  frontend/components/product/productDetail/Nutri.js
  frontend/pages/product/index.js
  frontend/pages/product/productDetail/index.js
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#303 fix: 검색 시, 카테고리 변경 시 정렬 설정 변경
  frontend/components/product/SearchFilter.js
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#279 docs: 리드미 초안 작성
  README.md
  images/aws.png
  images/cicd.png
  images/k8s.png
  images/logo.png
  images/msa.png
  images/skills.png
Labels: 📋 문서

#304 fix: 관리자 상품 조회 수정, input 사라지는 오류 해결
  frontend/components/admin/ProductSearch.js
  frontend/pages/member/cart.js
  frontend/styles/globals.scss
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#305 feat: 쿠폰 최대 할인금액 계산 수정, 상품 추천 리스트에 드래그 적용
  backend/main-service/src/main/java/kkakka/mainservice/order/application/OrderService.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/MemberRecommendStrategy.java
  backend/main-service/src/main/java/kkakka/mainservice/product/application/recommend/strategy/ProductRecommendStrategy.java
  frontend/.idea/workspace.xml
  frontend/components/product/productDetail/RecommendList.js
  frontend/frontend.iml
Labels: 🍃 BE, 🌠 FE, main-service, frontCI

#306 fix: 쿠폰 사용 후 목록에서 조회되는 문제 해결
  backend/main-service/src/main/java/kkakka/mainservice/coupon/application/CouponService.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/domain/repository/MemberCouponRepository.java
  backend/main-service/src/main/java/kkakka/mainservice/coupon/util/PromotionScheduler.java
  backend/main-service/src/test/java/kkakka/mainservice/coupon/acceptance/CouponAcceptanceTest.java
Labels: 🐞 버그, 🚀 기능, 🍃 BE

#307 fix: 쿠폰 0원 처리, 장바구니 다운 에러 처리
  frontend/components/coupon/CouponApply.js
  frontend/components/coupon/CouponCartApply.js
  frontend/components/coupon/CouponDown.js
  frontend/components/mypage/MyCouponCard.js
Labels: 🌠 FE, 🚨 핫픽스, frontCI

#308 style: 관리자 페이지 스타일 수정
  frontend/components/admin/ApplyProduct.js
  frontend/components/admin/ProductSearch.js
  frontend/components/admin/PromotionSearch.js
  frontend/pages/admin/index.js
Labels: 🌠 FE, frontCI

#310 fix: restdocs 변경사항 수정
  backend/main-service/src/docs/asciidoc/product.adoc
Labels: 🍃 BE, main-service
